.firstpart-cnt {
  display: flex;
  gap: 3rem;
  padding-left: 320px;
  height: 188px;
  width: 100%;
  max-width: 486px;
  left: 187px;
  top: 179px;
  border-radius: 20px;
}

.earning-data {
  display: flex;
  padding: 15px;
  flex-wrap: wrap;
  gap: 1.2rem;
  width: 100%;
  max-width: 500px;
  height: 160px;
  left: 187px;
  top: 179px;
  background: #ffffff;
  box-shadow: 0px 3px 100px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.first-cnt-data {
  width: 25%;
  height: 80px;
}

.first-cnt-btn {
  display: flex;
  width: 400px;
  justify-content: center;
}

.balance-withdraw-btn {
  width: 150px;
  height: 40px;
  left: 153px;
  top: 119px;
  background: #800080;
  border-radius: 20px;
}

.first-cnt-txt {
  width: 105px;
  height: 21px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #800080;
}

.first-cnt-num {
  width: 116px;
  height: 38px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  color: #000000;
}

.ref-code-txt {
  width: 228px;
  height: 36px;
  left: 766px;
  top: 179px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #800080;
}

.ref-code-block {
  display: flex;
  background-color: white;
  border-radius: 10px;
  width: 356px;
  height: 58px;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* line-height: 30px; */
  /* identical to box height */
  letter-spacing: 10px;
  color: #800080;
}

.ref-border-cnt {
  /* width: fit-content;
  height: fit-content; */
  /* padding: 1px; */
  background: linear-gradient(270deg, #800080 0%, #ff864c 100%);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 358px;
  height: 60px;
}
