.card-cnt {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding-left: 320px;
}

.first-heading-cnt {
  display: flex;
  padding-left: 320px;
  padding-top: 40px;
}

.first-heading {
  width: 224px;
  height: 36px;
  left: 187px;
  top: 407px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #800080;
}

.page-end {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding-left: 320px;
  padding-top: 30px;
}

.page-end-link {
  width: 168px;
  height: 24px;
  left: 187px;
  top: 799px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  color: #800080;
}

.page-end-txt {
  width: 168px;
  height: 24px;
  left: 187px;
  top: 799px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #800080;
}
